[submodule "build"]
	path = depends/build
	url = https://github.com/djp952/build.git
[submodule "sqlite"]
	path = depends/sqlite
	url = https://github.com/djp952/external-sqlite.git
[submodule "xbmc"]
	path = depends/xbmc
	url = https://github.com/xbmc/xbmc.git
